// Plex.tv Theme

@import 'partials/variables';

$theme: #E5A00D;
$theme08a: rgba($theme, 0.8);
$theme-light: #F7BE02;
$theme-dark: #9F7009;
$font-stack: $plexeina-font-stack;

@import 'partials/mixins';
@import 'partials/plexeina-font';
@import 'partials/buttons';
@import 'partials/buttons-plex.tv';
@import 'partials/error';
@import 'partials/text';
@import 'partials/form';
@import 'partials/login';
@import 'partials/navbar';
@import 'partials/sidebar';
@import 'partials/calendar';
@import 'partials/splash';
@import 'partials/player';

@import 'partials/misc-cleanup.scss';
