# =========================
# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node.js dependencies
node_modules


# =========================
# Windows
# =========================

# Image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Installer files
*.cab
*.msi
*.msm
*.msp

# Shortcuts
*.lnk


# =========================
# Plex Theme
# =========================

# Compiled output
build

# Logs
*.log

# Development environment variables
.env

# Organizr theme format
plex_theme

# Personal modifications
/sass/partials/grant-custom.scss
