// Blur Effects

// As of 7/2018 Safari is the only browser that properly supports backdrop-filter.
// Chrome has limited support for backdrop-filter effects, but only if
// Experimental Web Platform Features are enabled in chrome://flags.

.sidebar,
.sidebar-head,
.iziToast,
.recent-title,
.mfp-bg,
.mfp-container {
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
}

.sidebar {
	background: $black15a;
}

.mfp-bg,
.mfp-zoom-out.mfp-ready.mfp-bg {
	opacity: 0.5;
}
