// Buttons

// General Button Style

.btn {
	@extend %button;

	&:not(.dropdown-toggle) {
		padding: 8px 30px;
	}

	&.active,
	&:active {
		box-shadow: none;
	}

	// Movie Request Filter
	&[data-filter="request-result-movie"] {
		@include simple-button($movie);
		color: $white !important;
	}

	// TV Show Request Filter
	&[data-filter="request-result-tv"] {
		@include simple-button($tv);
		color: $white !important;
	}

	// Music Request Filter
	&[data-filter="request-result-music"] {
		@include simple-button($music);
		color: $white !important;
	}

	// General Request Filter
	&[data-filter="request-result-all"] {
		@include simple-button($theme);
		color: $white !important;
	}

	a {
		transition: none;
	}
}


// Info Button (Main Button)

.btn-info {
	background: $theme !important;
	color: $white !important;
	border: 0 !important;

	&.disabled,
	&:disabled {
        background: $theme-light !important;
    	color: $white !important;
    	border: 0 !important;
		opacity: 0.7;

		&.focus,
		&:focus,
        &:hover {
			background: $theme-light !important;
	    	color: $white !important;
	    	border: 0 !important;
			opacity: 0.7;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $theme-light !important;
		color: $white !important;
		border: 0 !important;
		opacity: 1;
	}

	&.active,
	&:active {
		background: $theme-dark !important;
		color: $white !important;
		border: 0 !important;

		&.focus,
		&:focus,
		&:hover {
			background: $theme-dark !important;
			color: $white !important;
			border: 0 !important;
		}
	}
}

// Outlined Button

.btn-outline {
	border-width: 2px;
}


// Large Button

.btn-lg {
	padding: 12px 30px;
}


// Button Icon

.btn-label {
	background: 0 0;
	padding: 0;
    margin: 0 8px 0 0;
}


// Primary Button (For Organizr's style, secondary)

.btn-primary {
	background: $white25a;
	color: $white;
	border: 0;

	&.disabled,
	&:disabled {
		background: $white25a;
		color: $white;
		border: 0;
		opacity: 0.7;

		&.focus,
		&:focus,
		&:hover {
			background: $white25a;
			color: $white;
			border: 0;
			opacity: 0.7;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $white30a;
		color: $white;
		border: 0;
		opacity: 1;
	}

	&.btn-outline {
		background: $white25a;
		color: $white;
		border: 0;

		&.focus,
		&:focus,
		&:hover {
			background: $white30a;
			color: $white;
			border: 0;
			opacity: 1;
		}
	}

	&.active,
	&:active {
		background: $white20a;
		color: $white;
		border: 0;

		&.focus,
		&:focus,
		&:hover {
			background: $white20a;
			color: $white;
			border: 0;
		}
	}
}

.btn-1b.btn-primary:after,
.btn-1c.btn-primary:after,
.btn-1d.btn-primary:after,
.btn-1e.btn-primary:after,
.btn-1f.btn-primary:after {
	background: 0 0;
}


// Large Table Row Button

.btn-circle.btn-lg {
	padding: 10px;
}


// Green Button

.btn-success {
	@include simple-button($tv);
}

// Red Button

.btn-danger {
	@include simple-button($movie);

	&.btn-outline {
		@include simple-button($movie);
	}
}


// Media Info Pane Buttons

.bg-emby,
.bg-plex,
.btn-youtube {
	color: $white70a !important;
	padding: 15.5px 16px !important;
	transition: background 0.1s;

	&:focus,
	&:hover {
		color: $white !important;
	}
}

.bg-plex {
	&:focus,
	&:hover {
		background: $theme-light;
	}

	&:active {
		background: $theme-dark;

		&:focus,
		&:hover {
			background: $theme-dark;
		}
	}
}

.btn-youtube {
	@include simple-button(#F00);
}


// MCE Buttons

.mce-menubar .mce-menubtn {
	background: transparent !important;
	border: 0 !important;
	border-radius: 4px;
	text-shadow: none !important;

	button,
	.mce-caret {
		color: $text-muted !important;
		border-top-color: $text-muted !important;
	}

	&:hover {
		button,
		.mce-caret {
			color: $white !important;
			border-top-color: $white !important;
		}
	}
}

.mce-btn {
	@extend %button;
	background: $white25a !important;
	color: $white !important;
	border: 0 !important;

	&.disabled,
	&:disabled {
		background: $white25a !important;
		opacity: 0.7;

		&.focus,
		&:focus,
		&:hover {
			background: $white25a !important;
			opacity: 0.7;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $white30a !important;
	}
}


// Button Groups

.btn-group {
	.btn {
		&:not(.dropdown-toggle):not(:only-child) {
			margin-right: 0;
			border-radius: 0 !important;
		}

		&:first-child:not(:last-child) {
			border-right-width: 0 !important;
			border-radius: 4px 0 0 4px !important;
		}

		&:last-child:not(:first-child) {
			border-left-width: 0 !important;
			border-radius: 0 4px 4px 0 !important;
		}

		&.btn-outline.dropdown-toggle {
			border-radius: 4px !important;
		}
	}

	&.open .dropdown-toggle {
		text-shadow: none;
		box-shadow: none;
	}
}


// List Group Item

button.list-group-item {
	color: $white70a !important;
}


// Navigation Tabs

.customtab2 {
	padding: 0;
}

.nav-tab {
	margin: 0;
	border: 0;
	border-radius: 0;
}

.mailbox-widget .customtab li {
	&:hover a {
		opacity: 1;
	}
}

.nav-tabs {
	background: $black15a;
	border: 0;

	li {
		a {
			color: $text-muted !important;
			margin: 0;
			transition: none;

			&:focus,
			&:hover {
				background: $white08a !important;
				color: $text !important;
			}
		}

		&.active a {
			background: $white08a !important;
			color: $theme-lighter !important;
			border: 0;
			cursor: pointer;

			&:focus,
			&:hover {
				background: $white08a;
				color: $theme-lighter !important;
				border: 0;
				cursor: pointer;
			}
		}
	}
}
