// Buttons

// Info Button (Main Button)

.btn-info {
	background: transparent !important;
	color: $theme !important;
	border-color: $theme !important;

	&.disabled {
		background: transparent !important;
		color: $theme !important;
		border-color: $theme !important;

		&.focus,
		&:focus,
        &:hover {
			background: transparent !important;
			color: $theme !important;
			border-color: $theme !important;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $theme !important;
		color: $white !important;
		border-color: $theme !important;
	}

	&.active,
	&:active {
		background: $theme-dark !important;
		color: $white !important;
		border-color: $theme-dark !important;

		&.focus,
		&:focus,
		&:hover {
			background: $theme-dark !important;
	    	color: $white !important;
	    	border-color: $theme-dark !important;
		}
	}
}


// Primary Button (For Organizr's style, secondary)

.btn-primary {
	background: transparent;
	color: $white;
	border-color: $white;

	&.disabled {
		background: transparent;
		color: $white;
		border-color: $white;

		&.focus,
		&:focus,
		&:hover {
			background: transparent;
			color: $white;
			border-color: $white;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $white;
		color: $theme;
		border-color: $white;
	}

	&.btn-outline {
		background: $white;
		color: $theme;
		border-color: $white;

		&.focus,
		&:focus,
		&:hover {
			background: $white;
			color: $theme;
			border-color: $white;
		}
	}

	&.active,
	&:active {
		background: darken($white, 10%);
		color: $theme;
		border-color: darken($white, 10%);

		&.focus,
		&:focus,
		&:hover {
			background: darken($white, 10%);
			color: $theme;
			border-color: darken($white, 10%);
		}
	}
}


// General Button Style

.btn {
	border-radius: 1000px;
	border-style: solid;
	border-width: 2px !important;
}


// Large Table Row Button

.btn-danger.btn-outline {
	background: transparent;
	color: $movie;
	border-color: $movie;

	&:focus,
	&:hover {
		background: $movie;
		color: $white;
		border-color: $movie;
	}

	&.active,
	&:active {
		background: darken($movie, 10%);
		color: $white;
		border-color: darken($movie, 10%);

		&.focus,
		&:focus,
		&:hover {
			background: darken($movie, 10%);
			color: $white;
			border-color: darken($movie, 10%);
		}
	}
}


// Button Groups

.btn-group {
	.btn {
		&:first-child:not(:last-child) {
			border-right-width: 0 !important;
			border-radius: 1000px 0 0 1000px !important;
		}

		&:last-child:not(:first-child) {
			border-left-width: 0 !important;
			border-radius: 0 1000px 1000px 0 !important;
		}
	}
}


// Calendar Buttons

.fc-state-default {
	&.fc-corner-left {
		border-radius: 1000px 0 0 1000px;
	}

	&.fc-corner-right {
		border-radius: 0 1000px 1000px 0;
	}
}

.fc-today-button {
	border-radius: 1000px !important;

	background: transparent !important;
	color: $white;
	border: solid 2px $white !important;

	&:focus,
	&:hover {
		background: $white !important;
		color: $theme;
	}

	&:active {
		background: darken($white, 10%) !important;
	}
}


// Input Group Buttons

#homepage-items {
	.dropdown-toggle {
		border-top-left-radius: 1000px !important;
		border-bottom-left-radius: 1000px !important;
	}

	.btn-group .btn:not(#newRequestButton) {
		border: 0 !important;
	}
}

.showPassword {
	border-radius: 4px;
}


// Home Page Request Button

#newRequestButton {
	border-radius: 1000px !important;
}


// Settings "I Want to Help" Button

.fcbtn {
	a {
		color: $theme;
	}

	&:focus a,
	&:hover a {
		color: $theme;
	}
}
