// Buttons

// General Button Styles

.btn {
	font-weight: 700;
	transition: all .2s ease;

	&.active,
	&:active {
		box-shadow: none;
	}

	&:not(.showPassword):not(.dropdown-toggle) {
		border-radius: 4px;
	}

	// Movie Request Filter
	&[data-filter="request-result-movie"] {
		background: $movie;
		color: $white;
		border-color: $movie;

		&:focus,
		&:hover {
			background: lighter($movie, 10%);
			color: $white;
			border-color: lighter($movie, 10%);
		}
	}

	// TV Show Request Filter
	&[data-filter="request-result-tv"] {
		background: $tv !important;
		color: $white !important;
		border-color: $tv !important;

		&:focus,
		&:hover {
			background: lighter($tv, 10%) !important;
			color: $white;
			border-color: lighter($tv, 10%) !important;
		}
	}

	// Music Request Filter
	&[data-filter="request-result-music"] {
		background: $music !important;
		color: $white !important;
		border-color: $music !important;

		&:focus,
		&:hover  {
			background: lighter($music, 10%) !important;
			color: $white;
			border-color: lighter($music, 10%) !important;
		}
	}

	// General Request Filter
	&[data-filter="request-result-all"] {
		background: $theme;
		border-color: $theme;

		&:focus,
		&:hover  {
			background: $theme-light;
			border-color: $theme-light;
		}
	}
}


// Media Info Pane Play Buttons

.btn-circle.btn-lg {
	padding: 10px;
}

.btn-youtube {
	background: #F00 !important;
	color: $white70a !important;
	padding: 15.5px 16px;

	&.focus,
	&:focus,
	&:hover {
		color: $white !important;
	}
}


// Button Groups

.btn-group {
	.btn {
		&:not(.dropdown-toggle):not(:only-child) {
			margin-right: 0;
			border-radius: 0 !important;
		}

		&:first-child:not(:last-child):not(.dropdown-toggle) {
			border-right-width: 0 !important;
			border-radius: 4px 0 0 4px !important;
		}

		&:last-child:not(:first-child) {
			border-left-width: 0 !important;
			border-radius: 0 4px 4px 0 !important;
		}
	}

	&.open .dropdown-toggle {
		text-shadow: none;
		box-shadow: none;
	}
}


// Info Button (Main Button)

.btn-info {
	background: $theme !important;
	color: $white !important;
	border-color: $theme !important;

	&.disabled {
        background: $theme-light !important;
    	color: $white !important;
    	border-color: $theme-light !important;
		opacity: 0.7;

		&.focus,
		&:focus,
        &:hover {
			background: $theme-light !important;
	    	color: $white !important;
	    	border-color: $theme-light !important;
			opacity: 0.7;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $theme-light !important;
		color: $white !important;
		border-color: $theme-light !important;
		opacity: 1;
	}
}

.btn-label {
	background: 0 0;
}

.btn-lg {
	padding: 12px 30px;
}


// Primary Button (For Organizr's style, secondary)

.btn-primary {
	background: $white;
	color: $theme;
	border-color: $white;

	&.disabled {
		background: $white;
		color: $theme;
		border-color: $white;
		opacity: 0.7;

		&.focus,
		&:focus,
		&:hover {
			background: $white;
			color: $theme;
			border-color: $white;
			opacity: 0.7;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: darken($white, 10%);
		color: $theme;
		border-color: darken($white, 10%);
		opacity: 1;
	}

	&.active,
	&:active,
	&.btn-outline {
		background: $white;
		color: $theme;
		border-color: $white;

		&.focus,
		&:focus,
		&:hover {
			background: darken($white, 10%);
			color: $theme;
			border-color: darken($white, 10%);
			opacity: 1;
		}
	}
}

.btn-1b.btn-primary:after,
.btn-1c.btn-primary:after,
.btn-1d.btn-primary:after,
.btn-1e.btn-primary:after,
.btn-1f.btn-primary:after {
	background: 0 0;
}


// Calendar Buttons

.fc-button {
	background: $theme !important;
	color: $white;
	border-color: $theme;
	font-weight: 700;
	border-width: 2px;
	border-style: solid;
	transition: all .2s ease;

	&:focus,
	&:hover {
		background: $theme-light !important;
		color: $white;
		border-color: $theme-light;
		opacity: 1;
	}
}

.fc-state-default {
	text-shadow: none;
	box-shadow: none;

	&.fc-corner-left {
		border-right-width: 0;
		border-radius: 4px 0 0 4px;
	}

	&.fc-corner-right {
		border-left-width: 0;
		border-radius: 0 4px 4px 0;
	}
}

.fc-state-active,
.fc-state-active:focus,
.fc-state-active:hover {
	background: $white !important;
	color: $theme;
	border-color: $white;
}

.fc-state-hover {
	opacity: 1;
}

.fc-today-button {
	opacity: 1;
	display: block;
	cursor: pointer;

	&.fc-state-disabled {
		background: $white !important;
		color: $theme !important;
		border-color: $white;
	}
}


// Input Group Buttons

.input-group .form-control:first-child .dropdown-toggle {
	border-left-width: 0 !important;
}

.input-group-btn .btn:not(.dropdown-toggle):not(:only-child) {
	margin-right: 0;
	border-radius: 0 !important;
}

.dropdown-toggle:not(:first-child) {
	border-left-width: 0 !important;
	border-radius: 0 4px 4px 0;
}


// Home Page Request Button

#newRequestButton {
	border-radius: 4px !important;
	padding: 6px 9.5px;
	margin-left: 1rem;

	.fa-search {
		margin-left: 0 !important;
	}
}


// Poster Image Refresh Button

.refreshImage {
	color: $white70a;

	&:focus,
	&:hover {
		color: $white;
	}
}


// Pagination Buttons

.pagination {
	> li {
		> a {
			background: $black15a;
			color: $text-muted;
			transition: all .2s;
			border: 0;
			border-radius: 0;

			&:focus,
			&:hover {
				background: $white08a;
				color: $text;
				border: 0;
			}
		}

		&.active > a {
			background: $white08a;
			color: $theme;
			border: 0;

			&:focus,
			&:hover {
				background: $white08a;
				color: $theme;
				border: 0;
			}
		}

		&.disabled > a {
			background: $white08a;
			color: $text-muted;
			border: 0;

			&:focus,
			&:hover {
				background: $white08a;
				color: $text-muted;
				border: 0;
			}
		}
	}
}


// Scroll-To-Top Button

#scroll {
	background: $theme;
	border-color: $theme;
	border-width: 2px;
	border-style: solid;
	transition: all .2s ease;
	border-radius: 1000px;

	&:focus,
	&:hover {
		background: $theme-light;
		border-color: $theme-light;
	}

	span {
		transition: all .2s ease;
		border-bottom-color: $white;
	}
}
