// Buttons

// Info Button (Main Button)

.btn-info {
	background: $theme !important;
	color: $white !important;
	border-color: transparent !important;

	&.disabled {
        background: $theme-light !important;
    	color: $white !important;
    	border-color: transparent !important;
		opacity: 0.7;

		&.focus,
		&:focus,
        &:hover {
			background: $theme-light !important;
	    	color: $white !important;
	    	border-color: transparent !important;
			opacity: 0.7;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $theme-light !important;
		color: $white !important;
		border-color: transparent !important;
		opacity: 1;
	}

	&.active,
	&:active {
		background: $theme-dark !important;
		color: $white !important;
		border-color: transparent !important;

		&.focus,
		&:focus,
		&:hover {
			background: $theme-dark !important;
			color: $white !important;
			border-color: transparent !important;
		}
	}
}

.btn-label {
	background: 0 0;
}

.btn-lg {
	padding: 12px 30px;
}


// Primary Button (For Organizr's style, secondary)

.btn-primary {
	background: $white25a;
	color: $white;
	border-color: transparent;

	&.disabled {
		background: $white25a;
		color: $white;
		border-color: transparent;
		opacity: 0.7;

		&.focus,
		&:focus,
		&:hover {
			background: $white25a;
			color: $white;
			border-color: transparent;
			opacity: 0.7;
		}
	}

	&.focus,
	&:focus,
	&:hover {
		background: $white30a;
		color: $white;
		border-color: transparent;
		opacity: 1;
	}

	&.btn-outline {
		background: $white25a;
		color: $white;
		border-color: transparent;

		&.focus,
		&:focus,
		&:hover {
			background: $white30a;
			color: $white;
			border-color: transparent;
			opacity: 1;
		}
	}

	&.active,
	&:active {
		background: $white20a;
		color: $white;
		border-color: transparent;

		&.focus,
		&:focus,
		&:hover {
			background: $white20a;
			color: $white;
			border-color: transparent;
		}
	}
}

.btn-1b.btn-primary:after,
.btn-1c.btn-primary:after,
.btn-1d.btn-primary:after,
.btn-1e.btn-primary:after,
.btn-1f.btn-primary:after {
	background: 0 0;
}


// General Button Style

.btn {
	border-radius: 4px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .2s ease;

	&.active,
	&:active {
		box-shadow: none;
	}

	// Movie Request Filter
	&[data-filter="request-result-movie"] {
		@include request-result-button($movie);
	}

	// TV Show Request Filter
	&[data-filter="request-result-tv"] {
		@include request-result-button($tv);
	}

	// Music Request Filter
	&[data-filter="request-result-music"] {
		@include request-result-button($music);
	}

	// General Request Filter
	&[data-filter="request-result-all"] {
		@include request-result-button($theme);
	}
}


// Large Table Row Button

.btn-circle.btn-lg {
	padding: 10px;
}

.btn-danger.btn-outline {
	background: $movie;
	color: $white;
	border-color: transparent;

	&:focus,
	&:hover {
		background: lighten($movie, 10%);
		color: $white;
		border-color: transparent;
	}

	&.active,
	&:active {
		background: darken($movie, 10%);
		color: $white;
		border-color: transparent;

		&.focus,
		&:focus,
		&:hover {
			background: darken($movie, 10%);
			color: $white;
			border-color: transparent;
		}
	}
}


// Media Info Pane Button

.btn-youtube {
	background: #F00 !important;
	color: $white70a !important;
	padding: 15.5px 16px;

	&.focus,
	&:focus,
	&:hover {
		color: $white !important;
	}
}


// Button Groups

.btn-group {
	.btn {
		&:not(.dropdown-toggle):not(:only-child) {
			margin-right: 0;
			border-radius: 0 !important;
		}

		&:first-child:not(:last-child) {
			border-right-width: 0 !important;
			border-radius: 4px 0 0 4px !important;
		}

		&:last-child:not(:first-child) {
			border-left-width: 0 !important;
			border-radius: 0 4px 4px 0 !important;
		}
	}

	&.open .dropdown-toggle {
		text-shadow: none;
		box-shadow: none;
	}
}


// Calendar Buttons

.fc-button {
	background: $black15a !important;
	color: $text-muted;
	border-color: transparent;
	border-radius: 0 !important;
	border: 0 !important;

	&:focus,
	&:hover {
		background: $white08a !important;
		color: $text;
		border-color: transparent;
		opacity: 1;
	}
}

.fc-next-button,
.fc-prev-button {
	background: 0 0 !important;
	color: $white70a !important;
	border: 0 !important;

	&.focus,
	&:focus,
	&:hover {
		background: 0 0 !important;
		color: $white !important;
	}
}

.fc-state-default {
	text-shadow: none;
	box-shadow: none;

	&.fc-corner-left {
		border-right-width: 0;
		border-radius: 4px 0 0 4px;
	}

	&.fc-corner-right {
		border-left-width: 0;
		border-radius: 0 4px 4px 0;
	}
}

.fc-state-active,
.fc-state-active:focus,
.fc-state-active:hover {
	background: $white08a !important;
	color: $theme-light;
	border-color: transparent;
}

.fc-state-hover {
	opacity: 1;
}

.fc-today-button {
	border-radius: 4px !important;
	font-weight: 700;
	transition: all 0.2s;

	background: $white25a !important;
	color: $white;

	&:focus,
	&:hover {
		background: $white30a !important;
		color: $white;
	}

	&:active {
		background: $white20a !important;
	}
}


// Input Group Buttons

#homepage-items {
	.dropdown-toggle {
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

	.btn-group .btn:not(#newRequestButton) {
		background: 0 0 !important;
		color: $white70a !important;

		&.focus,
		&:focus,
		&:hover {
			color: $white !important;
		}
	}
}

.showPassword {
	background: $black30a;
	color: $white70a;
	border-color: transparent;

	&:focus,
	&:hover {
		background: $black15a;
		color: $white;
		border-color: transparent;
	}

	&:active {
		&:focus,
		&:hover {
			background: $black50a;
			color: $white;
			border-color: transparent;
		}
	}
}


// Home Page Request Button

#newRequestButton {
	border-radius: 4px !important;
	padding: 6px 9.5px;
	margin-left: 1rem;

	.fa-search {
		margin-left: 0 !important;
	}
}


// Poster Image Refresh Button

.refreshImage {
	color: $white70a;

	&:focus,
	&:hover {
		color: $white;
	}
}


// Pagination Buttons

.pagination {
	> li {
		> a {
			background: 0 0;
			color: $white70a;
			border: 0;
			border-radius: 0;

			&:focus,
			&:hover {
				background: $white08a;
				color: $text;
				border: 0;
			}
		}

		&.active > a {
			background: $white08a;
			color: $theme-light;
			border: 0;

			&:focus,
			&:hover {
				background: $white08a;
				color: $theme-light;
				border: 0;
			}
		}

		&.disabled > a {
			background: 0 0;
			color: $text-muted;
			border: 0;

			&:focus,
			&:hover {
				background: 0 0;
				color: $text-muted;
				border: 0;
			}
		}
	}
}


// Scroll-To-Top Button

#scroll {
	background: $white25a;
	transition: all .2s ease;
	border-radius: 1000px;

	&:focus,
	&:hover {
		background: $white30a;
	}

	span {
		transition: all .2s ease;
		border-bottom-color: $white;
	}
}


// Settings "I Want to Help" Button

.fcbtn {
	a {
		color: $white;
	}

	&:focus a,
	&:hover a {
		color: $white;
	}
}
