// Calendar

%date-link {
	color: $text-muted;
	cursor: pointer !important;

	&:focus,
	&:hover {
		color: $text;
	}
}

.fc th {
	&.fc-mon,
	&.fc-tue,
	&.fc-wed,
	&.fc-thu,
	&.fc-fri,
	&.fc-sat,
	&.fc-sun {
		background: $black30a !important;

		a {
			@extend %date-link;
		}

		span {
			color: $text-muted;
			cursor: default;
		}
	}
}

.fc-day {
	background: $black15a;
}

.fc-day-number,
.fc-list-heading-main {
	@extend %date-link;
}

.fc-title {
	color: $white70a;
}

.fc-event {
	&:focus .fc-title,
	&:hover .fc-title {
		color: $text;
	}
}

.fc-toolbar {
	background: 0 0 !important;
	padding: 10px 0;
	cursor: default;
}

.fc-today {
	background: $white08a !important;

	.fc-day-number {
		color: $theme;
	}

	&.fc-state-highlight {
		background: 0 0 !important;
	}
}

.fc-widget-content {
	border-width: 0 !important;
	border-color: $white08a !important;

	&.fc-day:not(:last-of-type) {
		border-right-width: 1px !important;
	}

	&.fc-row:not(:last-of-type) {
		border-bottom-width: 1px !important;
	}
}
