// Calendar

.fc th {
	&.fc-mon,
	&.fc-tue,
	&.fc-wed,
	&.fc-thu,
	&.fc-fri,
	&.fc-sat,
	&.fc-sun {
		background: $black30a !important;

		a {
			@extend %date-link;
		}

		span {
			color: $text-muted;
			cursor: default;
		}
	}
}

.fc-day {
	background: $black15a;
}

.fc-day-number,
.fc-list-heading-main {
	@extend %date-link;
}

.fc-time {
	font-weight: 400 !important;
}

.fc-title {
	color: $white70a;
	font-weight: 600;
	transition: color 0.2s;
}

.fc-event {
	&:focus .fc-title,
	&:hover .fc-title {
		color: $text;
	}
}

.fc-toolbar {
	background: transparent !important;
	cursor: default;
	padding: 0 0 15px 0;

	h2 {
		@extend %header;
		color: $text;
		font-size: 15px;
	}

	.fc-center {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.fc-today {
	background: $white08a !important;

	.fc-day-number {
		color: $theme-lighter;
	}

	&.fc-state-highlight {
		background: 0 0 !important;
	}
}

.fc-widget-content {
	border-width: 0 !important;
	border-color: $white08a !important;

	&.fc-day:not(:last-of-type) {
		border-right-width: 1px !important;
	}

	&.fc-row:not(:last-of-type) {
		border-bottom-width: 1px !important;
	}
}
