// Dropdowns

// Dropdown Menu

.dropdown-menu {
	background: $dark-gray !important;
	border: 1px solid var(--b15a);
	box-shadow: 0 6px 12px rgba($black, 0.175) !important;
	border-radius: 4px;
	padding: 5px 0;

	li {
		cursor: pointer;
	}

	a {
		color: $menu-link !important;
		transition: none;

		&:hover {
			background: var(--w08a) !important;
			color: $white !important;
		}
	}

	h4,
	h5,
	.text-muted {
		color: $menu-header !important;
	}

	h4,
	.text-muted {
		margin-bottom: 6px !important;
	}

	h5 {
		margin-bottom: 1.5rem;
		cursor: default;
	}

	.text-muted {
		text-transform: uppercase;
		font-weight: 600;
	}

	// Handle large usernames / emails in user dropdown
	.u-text {
		.text-muted {
		    width: 150px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}

	.divider {
		background: $divider;
		margin: 5px;
	}
}


// Rich Selector

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.select2-dropdown {
	background: $dark-gray;
	color: $menu-link;
	border: 0;
}

.select2-container--default {
	.select2-results__option[aria-selected=true] {
		background: $dark-gray !important;
		color: $menu-link !important;
	}

	.select2-results__option--highlighted[aria-selected] {
		background: var(--w08a);
		color: $white;
	}
}


// Language Dropdown

.drop-title {
	color: $menu-header;
	border-bottom-color: $divider;
	text-transform: uppercase;
}

#languageDropdown {
	.dropdown-menu {
		margin-top: 20px;
	}

	h5 {
		color: $menu-link !important;
		text-transform: none;
	}

	a {
		border-bottom-color: $divider;

		&:hover {
			background: var(--w08a);

			h5 {
				color: $white !important;
			}
		}
	}
}

.mail-desc {
	display: none !important;
}
