// Form Elements

.checkbox label::before {
	background: $white08a;
	border: 0;
	border-radius: 4px;
	transition: all .2s ease;
}

.checkbox-primary input[type=checkbox]:checked + label::before {
	background: $theme;
	border-color: $theme;
}

.form-control,
.form-material .form-control,
input[aria-controls=loginLogTable],
select {
	color: $text;
	margin: 0;
	border: 0;
	height: 38px;
	line-height: 1.5;
	padding: 6px 12px;
	border-radius: 4px;
	vertical-align: middle;
	background: $white25a;
	transition: background .2s;

	&.focus,
	&:focus {
		color: $black33;
		background: $text;
		border-radius: 4px;
	}
}

.input-group .form-control {
	border-radius: 5px 0 0 5px !important;
}

#mediaSearchQuery,
#request-input,
#request-input-div .dropdown-toggle {
	font-size: 18px;
	height: 46px;
	padding: 10px 16px;
}

.radio-purple input[type=radio] {
	+ label::before {
		background: $white25a;
		transition: all 0.2s;
	}

	+ label::after {
		background: $theme;
	}

	&:checked {
		+ label::after {
			background: $theme;
		}

		+ label::before {
			background: $black15a;
			border-color: $theme;
		}
	}
}
