// Homepage

#homepage-items {
	.dropdown-toggle {
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

	.btn-group {
		margin-top: 15px;

		.btn:not(#newRequestButton) {
			background: 0 0 !important;
			color: $white70a !important;
			padding: 6px 12px;
			margin: 0 12.5px;

			&.focus,
			&:focus,
			&:hover {
				color: $white !important;
			}
		}
	}

	h2.text-center {
		color: $white30a;
		font-size: 14px !important;
		cursor: default;
		user-select: none;
	}

	h3 {
		text-transform: none;
	}

	h4.pull-left,
	.panel-heading {
		@extend %header;
		color: $text !important;
		font-size: 15px;
		padding: 0;
		cursor: default;
		user-select: none;
	}

	.white-box {
		padding: 0;
	}
}

.homepageImageTitle {
	margin-top: 0;
}


// Home Page Request Button

#newRequestButton {
	border-radius: 4px !important;
	padding: 6px 9.5px;
	margin: 2.5px auto;
	margin-left: 1rem;

	.fa-search {
		margin-left: 0 !important;
	}
}


// Poster Image Refresh Button

.refreshImage {
	color: $white70a;

	&:focus,
	&:hover {
		color: $white;
	}

	&.default {
		padding: 6.5px 8px !important;
		position: absolute;
		right: 0;
	}
}


// Scroll-To-Top Button

#scroll {
	background: $white25a;
	transition: all 0.1s;
	border-radius: 1000px;

	&:focus,
	&:hover {
		background: $white30a;
	}

	span {
		transition: all 0.1s;
		border-bottom-color: $white;
	}
}


// Content Streams

#embyStreams,
#plexStreams {
	hr.hidden-xs {
		display: none;
	}
}


// Content Thumbnails

.owl-stage {
	width: 9999999px !important;
	padding: 4px;
}

.owl-item {
	padding: 2px;
}

.hover-homepage-item:hover {
	transition: all .2s;
}

.badge,
.inside-request-div {
	background: $theme !important;
}

.outside-request-div {
	z-index: 1;
}

.recent-title {
	background: $black30a!important;
	padding: 5px;
    font-size: 85%;
	pointer-events: none;

	&::first-line {
		font-size: 115%;
		font-weight: 700;
	}

	small {
		font-size: 100% !important;
	}
}

@supports (backdrop-filter: blur(30px)) {
	.recent-title {
		@extend %background-blur;
	}
}


// Download Queues

tbody[class$="-queue"] {
	cursor: default;

	td.hidden-xs {
		font-weight: 400;
		user-select: none;
	}
}

.table-bordered,
.table {
	> tbody,
	> tfoot,
	> thead {
		> tr {
			> th,
			> td {
				border: 0;
			}

			&:not(:first-of-type):not(:last-of-type) > td {
				border-width: 1px 0 1px 0;
				border-style: solid;
				border-color: $white08a;
			}

			&:only-child {
				color: $white30a;
				text-transform: uppercase;
			}
		}
	}
}

.table-hover tbody tr:hover {
	background: $black15a !important;

	&:only-child {
		background: transparent !important;
	}
}


// Progress Bars


tbody {
	&[class$="queue"],
	&[class$="history"] {
		.progress,
		.progress-bar {
			border-radius: 1000px;
			min-width: 72px;
			height: 16px !important;
		}

		.progress-bar {
			font-size: 75% !important;
			line-height: 16px !important;
		}
	}
}

.progress {
	height: 3px;
	margin-bottom: 5px;
	cursor: default;
	user-select: none;
	transition: all 0.2s;
}

.progress-bar-info {
    background: $theme;
}

.progress-bar-inverse {
	background: $black15a;
}


// Calendar Buttons

.fc-button {
	background: $black15a !important;
	color: $text-muted;
	border-color: transparent;
	border-radius: 0 !important;
	border: 0 !important;
	text-transform: uppercase;

	&:focus,
	&:hover {
		background: $white08a !important;
		color: $text;
		border-color: transparent;
		opacity: 1;
	}
}

.fc-next-button,
.fc-prev-button {
	background: 0 0 !important;
	color: $white70a !important;
	border: 0 !important;

	&.focus,
	&:focus,
	&:hover {
		background: 0 0 !important;
		color: $white !important;
	}
}

.fc-state-default {
	text-shadow: none;
	box-shadow: none;

	&.fc-corner-left {
		border-right-width: 0;
		border-radius: 4px 0 0 4px;
	}

	&.fc-corner-right {
		border-left-width: 0;
		border-radius: 0 4px 4px 0;
	}
}

.fc-state-active,
.fc-state-active:focus,
.fc-state-active:hover {
	background: $white08a !important;
	color: $theme-lighter;
	border-color: transparent;
}

.fc-state-hover {
	opacity: 1;
}

.fc-today-button {
	border-radius: 4px !important;
	font-weight: 700;
	transition: all 0.1s;

	background: $white25a !important;
	color: $white;

	&:focus,
	&:hover {
		background: $white30a !important;
		color: $white;
	}

	&:active {
		background: $white20a !important;
	}
}
