// TODO: Clean up: organize styles into separate partial files

.nav-tabs {
	background: 0 0!important;
	background: $black15a!important;
	> li {
		> a {
			color: $text-muted!important;
			margin: 0;
			border: 0;
			border-radius: 0!important;
			&:focus {
				background: $white08a!important;
			}
			&:hover {
				background: $white08a!important;
				color: $text!important;
			}
		}
		&.active > a {
			background: $white08a!important;
			color: $theme-lighter !important;
			margin: 0;
			border: 0;
			border-radius: 0!important;
			&:focus {
				background: $white08a!important;
				color: $theme-lighter !important;
				margin: 0;
				border: 0;
				border-radius: 0!important;
			}
			&:hover {
				background: $white08a!important;
				color: $theme-lighter !important;
				margin: 0;
				border: 0;
				border-radius: 0!important;
			}
		}
	}
}

.tabs-style-flip {
	.content-wrap {
		background: 0 0;
	}

	nav {
		color: $text-muted !important;

		a::after {
			background: $black15a !important;
			transition: none;
			transform: none;
		}

		a {
			color: $white70a !important;
			transition: none;
			transform: none;

			&:hover::after {
				background: $white08a !important;
			}

			&:hover {
				color: $text!important;
			}
		}

		li.tab-current {
			a::after {
				background: $white08a!important;
				margin: 0;
				border: 0;
				border-radius: 0!important;
				transition: none;
				transform: none;
			}

			a {
				color: $theme-lighter!important;
			}
		}
	}
}

.ace-idle-fingers {
	background: $black15a!important;
	.ace_gutter {
		background: $black30a!important;
		color: $text!important;
	}
	.ace_marker-layer .ace_active-line {
		background: $white08a!important;
	}
}

.recent-title {
	background: $black30a!important;
	padding: 5px;
	font-weight: 700;
	pointer-events: none;
}

th {
	color: $white70a;
}

tbody {
	color: $text;
}

.table {
	> tbody > tr {
		&.active {
			> td,
			> th {
				background: $black30a!important;
			}
		}
		> td.active,
		> th.active {
			background: $black30a!important;
		}
	}
	> tfoot > tr {
		&.active {
			> td,
			> th {
				background: $black30a!important;
			}
		}
		> td.active,
		> th.active {
			background: $black30a!important;
		}
	}
	> thead > tr {
		&.active {
			> td,
			> th {
				background: $black30a!important;
			}
		}
		> td.active,
		> th.active {
			background: $black30a!important;
		}
	}
}

.slimScrollBar {
	background: $white!important;
	background: $white25a;
	width: 3px!important;
	border-radius: 0!important;
}
.input-group-addon {
	background: $black20!important;
	border-radius: 4px!important;
}

.dd-handle {
	color: $white70a!important;
}
.dd3-content {
	color: $white70a!important;
}

.tabLoaded {
	filter: none;
}

.slimScrollRail {
	width: 3px!important;
	border-radius: 0!important;
}

.nav-tab {
	margin: 0;
	border: 0;
	border-radius: 0;
}
.customtab2 {
	padding: 0;
}

.owl-stage {
	width: 9999999px !important;
	height: 229px !important;
}
.owl-item {
	padding: 2px;
}

.progress {
	transition: all .2s;
	height: 3px;
	margin-bottom: 5px;
}
.progress-bar-info {
    background: $theme;
}

#homepage-items {
	.panel-heading {
		font-weight: 600;
		padding: 0;
	}

	.white-box {
		padding: 0;
	}

	.btn-group {
		margin-top: 15px;
	}
}

.homepageImageTitle {
	margin-top: 0;
}

div[id^="request"] {
	.bg-plex {
		margin-top: 10px;
	}
	.btn-youtube {
		margin-top: 10px;
	}
	h5.text-center {
		margin-bottom: 1.5rem;
	}
}

.badge,
.inside-request-div {
	background: $theme !important;
}

.outside-request-div {
	z-index: 1;
}

.nav .open > a {
	background: 0 0!important;
	&:focus {
		background: 0 0!important;
	}
	&:hover {
		background: 0 0!important;
	}
}

.table-hover > tbody > tr:hover {
	background: $black15a!important;
}
table.dataTable tbody tr {
	background: $black15a !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background: $black30a !important;
}


.daterangepicker .input-mini,
.panel-default .panel-heading,
.panel-white .panel-heading,
.select2-container .select2-choice,
.steamline .sl-right div > a,
button.list-group-item {
	color: $white70a!important;
}

.profile-social-icons a {
	color: $text !important;

	&:hover {
		color: $white !important;
	}
}

.footable.breakpoint > tbody > tr > td > span.footable-toggle {
	color: $text-muted !important;
}
.sttabs nav a span {
	font-family: $font-stack;
}
.top-left-part a {
	line-height: inherit;
	font-size: 26px;
}

.css-bar:after {
	background: $dark-gray;
	color: $text;
}

.css-bar-sm > img {
	padding: 5px;
}

.categoryEditor,
.userManagement {
	.el-card-avatar {
		border-radius: 1000px !important;
	}
}

.hover-homepage-item:hover {
	transition: all .2s;
}

#customize-appearance-form .tab-content .tab-pane:last-of-type .form-group .control-label {
	display: none;
}
#plexStreams .hidden-xs {
	display: none;
}

#invite-area .form-group {
	margin: 0;
}
#new-invite-form .btn {
	margin-right: .25rem;
}
.mailbox-widget .customtab li a:hover {
	opacity: 1;
}
