// Modal Views

.white-popup {
	> .col-md-6 > .white-box:first-child,
	.panel-heading {
		background: $black20 !important;
	    box-shadow: 0 5px 15px rgba($black, 0.5);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.panel-footer {
		background: $black20;
		border-top: 1px solid #222;
	}

	> .col-md-6 > .white-box:nth-child(2),
	.panel-body {
		background: $black16;
		box-shadow: 0 5px 15px $black50a;

		.box-title {
			color: $text-muted;
			font-weight: 700;

			span {
				color: $text;
				font-weight: 600;
			}
		}

		.mdi {
			color: $text-muted !important;
		}
	}

	> .col-md-6 > .white-box:nth-child(2),
	&:not(#speedtest-area) .panel-body,
	.panel-footer {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.panel {
		border-radius: 4px;

		> .table-responsive {
			background: $black20;
		}
	}

	&[id$="metadata-div"],
	&[id^="request"] {
		.white-box:not(.resultBox-outside) {
			background: $black30a $no-np center center/cover !important;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		.user-bg {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
	}
}

.white-popup-block {
	background: $black16;
	border-radius: 4px!important;

	h1 {
		color: $text;
		font-size: 20px;
		font-weight: 400;
		text-transform: none;
		margin: 0 0 15px 0;
	}


	.btn.row {
		margin: 15px 0;
	}
}

.mfp-bg {
	background: $black;
	opacity: 0.5 !important;
}

@media screen and (min-width: 768px) {
	.white-popup-block,
	.white-popup .panel {
		box-shadow: 0 5px 15px $black50a;
	}
}

.mfp-close-btn-in .mfp-close {
	color: $white70a;
	font-size: 42px;
}


// Invite Modal

#invite-area .form-group {
	margin: 0;
}


// Content/Request Modal

.resultBox-outside {
	background: $black16;
	box-shadow: 0 5px 15px $black50a;
	border-radius: 4px;
	padding-bottom: 10px;
}

.resultBox-inside {
	padding-bottom: 15px;
}

#request-input-div {
	span:first-of-type {
		display: none;
	}

	.dropdown-toggle {
	    padding: 7.5px 12px;
	}
}

@media screen and (min-width: 576px) {
	#request-input-div span:first-of-type {
		display: inline;
	}

	#mediaSearchQuery,
	#request-input,
	#request-input-div .dropdown-toggle {
		font-size: 18px;
		height: 46px;
		padding: 10px 16px;
	}
}

.css-bar {
	font-weight: 700;

	&:after {
		background: $dark-gray;
		color: $text;
		opacity: 1;
	}
}

.css-bar-sm > img {
	padding: 5px;
}

.css-bar-lg > img {
	width: 90px;
    height: 90px;
	margin: 5px 0 0 5px;
}

.css-bar-info {
	background-image: linear-gradient(90deg, $dark-gray 50%, transparent 50%, transparent), linear-gradient(198deg, $theme 50%, $dark-gray 50%, $dark-gray) !important;
}

.nowPlayingUserThumb:hover {
	transition: none;
}

.customPoster {
	margin: 40px 0;

	a {
		color: $text !important;
		font-size: 32px;
		font-weight: 600;
		text-shadow: none !important;
		text-transform: none;
		transform: none !important;
	}
}

div[id^="request"] {
	.bg-plex {
		margin-top: 10px;
	}
	.btn-youtube {
		margin-top: 10px;
	}
}

h2.m-b-0.font-medium.pull-right {
	color: $white;
	font-weight: 600;
	filter: drop-shadow(0 2px 5px $black70a);
}

.genre-list .badge {
	cursor: default;
	user-select: none;
}


// MCE Modal

.mce-window {
	background: transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.mce-panel {
	background: $black16 !important;
	border: 0 !important;
}

.mce-label {
	color: $text-muted !important;
	text-shadow: none !important;
}

.mce-foot {
	background: $black20 !important;
	border-top: 1px solid #222;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
