// Modal Views

.white-popup {
	> .col-md-6 > .white-box:first-child,
	.panel-heading {
		background: $black20 !important;
	    box-shadow: 0 5px 15px rgba($black, 0.5);
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.panel-footer {
		background: $black20;
		border-top: 1px solid #222;
	}

	> .col-md-6 > .white-box:nth-child(2),
	.panel-body {
		background: $black16;
		box-shadow: 0 5px 15px $black50a;

		.box-title {
			color: $text-muted;
			font-weight: 700;

			span {
				color: $text;
				font-weight: 600;
			}
		}

		.mdi {
			color: $text-muted !important;
		}
	}

	> .col-md-6 > .white-box:nth-child(2),
	&:not(#speedtest-area) .panel-body,
	.panel-footer {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.panel {
		border-radius: 4px;

		> .table-responsive {
			background: $black20;
		}
	}
}

.white-popup-block {
	background: $black16;
	border-radius: 4px!important;

	h1 {
		color: $text;
		font-size: 20px;
		font-weight: 400;
		text-transform: none;
		margin: 0 0 15px 0;
	}

	p {
		margin: 0;
	}

	.btn.row {
		margin: 15px 0;
	}
}

.mfp-bg {
	background: $black;
	opacity: 0.5 !important;
}

@media screen and (min-width: 768px) {
	.white-popup-block,
	.white-popup:not([id$='metadata-div']):not([id^='request']) .panel {
		box-shadow: 0 5px 15px $black50a;
	}
}

.mfp-close-btn-in .mfp-close {
	color: $white70a;
	font-size: 42px;
}

.sweet-alert {
	background: $black16;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba($black, 0.5);
	padding: 30px;

	h2 {
		color: $text-muted;
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
	}

	button.cancel {
		@include button($white25a, $white30a, $white20a, $white);

		&:focus {
			box-shadow: none !important;
		}
	}

	button.confirm {
		@include button($red, $color: $white);

		&:focus {
			box-shadow: none !important;
		}
	}
}


// Invite Modal

#invite-area .form-group {
	margin: 0;
}


// Content/Request Modal

.resultBox-outside {
	background: $black16;
	box-shadow: 0 5px 15px $black50a;
	border-radius: 4px;
	padding-bottom: 10px;
}

.resultBox-inside {
	padding-bottom: 15px;
}

.mediaSearch-div .el-card-item {
	.el-overlay-1::after {
		content: '';
		background: radial-gradient(farthest-corner at 50% 50%, $black50a 50%, $black20 100%);
		opacity: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		transition: all 0.2s;
	}

	&:hover {
		.el-overlay-1::after {
			opacity: 1;
		}
	}
}

.request-result-item {
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (min-width: 576px) {
	.request-result-item {
		left: initial;
		transform: none;
	}
}

#request-input-div {
	span:first-of-type {
		display: none;
	}

	.dropdown-toggle {
	    padding: 8px 12px;
	}
}

.ajaxloader {
	border-radius: 4px;
	margin: 0 15px;
	width: calc(100% - 30px);
	left: 0;
	transition: all 0.2s;

	.circular {
		position: absolute;
		top: 50%;
	}
}

@media screen and (min-width: 576px) {
	#request-input-div span:first-of-type {
		display: inline;
	}

	#mediaSearchQuery,
	#request-input,
	#request-input-div .dropdown-toggle {
		font-size: 18px;
		height: 46px;
		padding: 10px 16px;
	}
}

.white-popup {
	&[id$='metadata-div'],
	&[id^='request'] {
		.white-box:not(.resultBox-outside) {
			box-shadow: 0 5px 15px rgba($black, 0.5);
		}
	}
}

.user-bg {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: $black45a;
}

@supports (backdrop-filter: blur(30px)) {
	.user-bg {
		@extend %background-blur;
	}
}

.lazyload.error,
.owl-item img[src='plugins/images/cache/no-list.png'],
.slimScrollDiv img[src='plugins/images/cache/no-list.png'] {
	background: $black45a $no-list center center/cover !important;
}

img[src='plugins/images/cache/no-request.png'] {
	background: $black45a $no-request center center/cover !important;
}

.resultImages.error,
.owl-item img[src='plugins/images/cache/no-list.png'],
.slimScrollDiv img[src='plugins/images/cache/no-list.png'],
img[src='plugins/images/cache/no-request.png'] {
	padding: 0 0 0 200px;
}

div[data-src='plugins/images/cache/no-np.png'] {
	background: $black20 $no-np center center/cover !important;
}

@supports (backdrop-filter: blur(30px)) {
	div[data-src='plugins/images/cache/no-np.png'] {
		background-color: $black45a !important;
	}
}

.css-bar:after {
	background: $dark-gray;
	color: $text;
	opacity: 1;
}

.css-bar-sm {
	font-size: 11px;

	> img {
		padding: 5px;
	}
}

.css-bar-lg > img {
	width: 90px;
    height: 90px;
	margin: 5px 0 0 5px;
}

img[src='plugins/images/rotten.png'] {
	padding: 0 0 0 40px;
	background: $rotten-tomatoes 5px 5px/30px no-repeat;
}

.css-bar-info {
	background-image: linear-gradient(90deg, $dark-gray 50%, transparent 50%, transparent), linear-gradient(198deg, $theme 50%, $dark-gray 50%, $dark-gray) !important;
}

.nowPlayingUserThumb:hover {
	transition: none;
}

.customPoster {
	margin: 40px 0;

	a {
		color: $text !important;
		font-size: 32px;
		font-weight: 600;
		text-shadow: none !important;
		text-transform: none;
		transform: none !important;
	}
}

div[id^='request'] {
	.bg-plex {
		margin-top: 10px;
	}
	.btn-youtube {
		margin-top: 10px;
	}
}

h2.m-b-0.font-medium.pull-right {
	color: $white;
	font-weight: 600;
	filter: drop-shadow(0 2px 5px $black70a);
}

.genre-list .badge {
	cursor: default;
	user-select: none;
}


// MCE Modal

.mce-window {
	background: transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.mce-panel {
	background: $black16 !important;
	border: 0 !important;
}

.mce-label {
	color: $text-muted !important;
	text-shadow: none !important;
}

.mce-foot {
	background: $black20 !important;
	border-top: 1px solid #222;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
