// Navbar

.navbar {
	background: $black70a;
	padding: 10px;
}

@media screen and (min-width: 768px) {
	.navbar {
		padding-left: 60px;
	}
}

.navbar-header {
	background: 0 0;

	ul:first-of-type {
		margin-left: 20px;
	}
}

.navbar-top-links {
	.dropdown-user {
		top: 60px;
	}

	> li > a {
		color: $text-muted;

		&:hover {
			color: $text;
		}
	}
}

.profile-pic {
	.img-circle {
		box-shadow: 0 0 0 1px rgba($white, 0.1);
	}

	b {
		font-weight: 600;
	}

	&:hover {
		.img-circle {
			background: $text;
			box-shadow: 0 0 0 2px $text;
		}

		b,
		.caret {
			color: $text;
		}
	}

	&[aria-expanded="true"] {
		.img-circle {
			background: $theme-lighter;
			box-shadow: 0 0 0 2px $theme-lighter;
		}

		b,
		.caret {
			color: $theme-lighter;
		}
	}
}

.ti-fullscreen {
	line-height: inherit;
}

#languageDropdown {
	display: none;
}
