// Plexeina Font

@font-face {
	font-family: Plexeina;
	src: $plexeina-regular-woff2 format("woff2"), $plexeina-regular-woff format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Plexeina;
	src: $plexeina-regularitalic-woff2 format("woff2"), $plexeina-regularitalic-woff format("woff");
	font-weight: 400;
	font-style: italic;
}


@font-face {
	font-family: Plexeina;
	src: $plexeina-bold-woff2 format("woff2"), $plexeina-bold-woff format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Plexeina;
	src: $plexeina-bolditalic-woff2 format("woff2"), $plexeina-bolditalic-woff format("woff");
	font-weight: 700;
	font-style: italic;
}
