// Plex.tv Styling

@import 'partials/plexeina-font';

.btn {
	border-width: 2px !important;

	&:not(.showPassword):not(.dropdown-toggle) {
		border-radius: 1000px !important;
	}
}

.btn-group {
	.btn {
		&:first-child:not(:last-child):not(.dropdown-toggle) {
			border-radius: 1000px 0 0 1000px !important;
		}
		&:last-child:not(:first-child) {
			border-radius: 0 1000px 1000px 0 !important;
		}
	}
}

.dropdown-toggle:not(:first-child) {
	border-radius: 0 1000px 1000px 0 !important;
}

.fc-state-default {
	&.fc-corner-left {
		border-radius: 1000px 0 0 1000px;
	}

	&.fc-corner-right {
		border-radius: 0 1000px 1000px 0;
	}
}

#newRequestButton,
#scroll {
	border-radius: 1000px !important;
}
