// Slim Scroll Bar

.slimScrollRail {
	width: 3px !important;
	border-radius: 0 !important;
}

.slimScrollBar {
	background: $white !important;
	background: var(--w25a);
	width: 3px !important;
	border-radius: 0 !important;
	pointer-events: none;
}
