// Sidebar

.sidebar {
	@include background($bg-light, "fixed");
	box-shadow: none;
	transition: background 0.2s;
	transition: width 0.1s;

	.sidebar-head {
		background: $black65a;
		padding: 2.5px 20px;

		h3 {
			color: $white70a;
			font-weight: 400;
			text-transform: none;
			transition: .2s all;

			.m-r-5 {
				margin-right: 10px !important;
			}

			i {
				font-size: 14px;
			}
		}
	}

	.label {
		padding: 5px 8px;
	}

	.slimScrollBar,
	.slimScrollRail {
		left: 0 !important;
	}
}

.sidebar-nav {
	background: $black15a;
}

body[data-active-tab=""],
.active-tab-Settings {
	.sidebar {
		@include background($bg-dark, "fixed");
	}
}

@supports (backdrop-filter: blur(30px)) {
	.sidebar {
		@extend %background-blur;
		background-image: none !important;
		background-color: $black15a;

		.sidebar-head {
			@include background($bg-light, "fixed");
			background: $black15a;

			&::after {
				content: "";
			    background: $black70a;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
				z-index: -1;
			}
		}
	}

	body[data-active-tab=""],
	.active-tab-Settings {
		.sidebar {
			background-image: none !important;
			background-color: $black15a;
		}

		.sidebar-head {
			@include background($bg-dark, "fixed");
		}
	}
}

@media screen and (min-width: 768px) {
	.sidebar .sidebar-head {
		padding: 5px 20px;

		h3 {
			.m-r-5 {
				margin-right: 5px !important;
			}

			i {
				font-size: 20px;
			}
		}
	}
}

#side-menu {
	li a {
		color: $white70a;
		font-weight: 600 !important;
	    padding: 15px 35px 15px 15px;
		transition: .2s color ease;

		&.active {
			background: $white08a;
			color: $theme-lighter;
			box-shadow: none;
		}
	}
}

@media (pointer:fine) {
	#side-menu li a {
		&:focus,
		&:hover {
			color: $white;
			background: $white08a;
		}
	}
}

.tabLoaded {
	filter: none;
}
