// Text

a {
	color: $theme;
	text-decoration: none;
	transition: color 0.2s;
	-webkit-tap-highlight-color: transparent;

	&:hover,
	&:focus {
		color: $white !important;
	}

	&.text-primary {
		font-weight: 600;
	    user-select: none;

        &:hover {
			color: $white;
		}
	}

	&.list-group-item {
		color: $white70a;
	}
}

b {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %header;
}

h2.m-b-0.font-medium.pull-right {
	color: $white;
	filter: drop-shadow(0 2px 5px $black70a);
}

pre {
	color: $text-muted !important;
}

code {
	background: $white08a;
	color: $white70a;
}

.bg-title h4 {
	font-weight: 600;
}

.font-medium {
	text-transform: none;
}

.text-dark {
	color: $white70a !important;

	&:hover {
		color: $white !important;
	}
}

.text-info,
.text-primary,
.text-purple {
	color: $theme-light !important;
}

.text-muted {
	color: $text !important;
}

.has-success {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline {
		color: $tv;
	}

	.checkbox,
	&.checkbox-inline,
	&.radio,
	&.radio-inline {
		label {
			color: $tv;
		}
	}

	.form-control {
		border: 2px solid $tv;
	}
}

.has-failure {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline {
		color: $movie;
	}

	.checkbox,
	&.checkbox-inline,
	&.radio,
	&.radio-inline {
		label {
			color: $movie;
		}
	}

	.form-control {
		border: 2px solid $movie;
	}
}

.label {
	cursor: default;
	height: 100%;
	user-select: none;
}

.label-info {
	background: $black15a !important;
	color: $white70a !important;
}

.label-inverse {
	background: $black30a;
}

.label.m-l-20 {
	margin-left: 10px !important;
	padding: 3px 8px;
	font-weight: 700;
}


// Random stuff

.daterangepicker .input-mini,
.steamline .sl-right div > a,
button.list-group-item,
.dd-handle,
.dd3-content {
	color: $white70a !important;
}
