// Text

a {
	color: $theme;
	text-decoration: none;
	transition: color 0.2s;
	-webkit-tap-highlight-color: transparent;

	&:hover,
	&:focus {
		color: $white !important;
	}

	&.text-primary {
		font-weight: 600;
	    user-select: none;

        &:hover {
			color: $white;
		}
	}

	&.list-group-item {
		color: var(--w70a);
	}
}

b {
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %header;
}

pre {
	color: $text-muted !important;
}

code {
	background: var(--w08a);
	color: var(--w70a);
}

.bg-title h4 {
	font-weight: 700;
}

.font-medium {
	text-transform: none;
}

.text-dark {
	color: var(--w70a) !important;

	&:hover {
		color: $white !important;
	}
}

.text-success {
	color: $green;
}

.text-danger {
	color: $red;
}

.text-info,
.text-primary,
.text-purple {
	color: $theme-light !important;
}

.text-muted {
	color: $text !important;
}

.has-success {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline {
		color: $green;
	}

	.checkbox,
	&.checkbox-inline,
	&.radio,
	&.radio-inline {
		label {
			color: $green;
		}
	}

	.form-control {
		border: 2px solid $green;
	}
}

.has-failure {
	.checkbox,
	.checkbox-inline,
	.control-label,
	.help-block,
	.radio,
	.radio-inline {
		color: $red;
	}

	.checkbox,
	&.checkbox-inline,
	&.radio,
	&.radio-inline {
		label {
			color: $red;
		}
	}

	.form-control {
		border: 2px solid $red;
	}
}

.label {
	cursor: default;
	height: 100%;
	user-select: none;
}

.label-info {
	background: var(--b15a) !important;
	color: var(--w70a) !important;
}

#settings-settings-updates {
	.label-info {
		background: $theme !important;
		color: $white !important;
	}
}

.label-success {
	background: $green;
	color: $black;
}

.label-danger {
	background: $red;
}

.label-warning,
.label-inverse {
	background: var(--b30a);
}

.label.m-l-20 {
	margin-left: 10px !important;
	padding: 3px 8px;
	font-weight: 700;
}


// Random stuff

.daterangepicker .input-mini,
.steamline .sl-right div > a,
button.list-group-item,
.dd-handle,
.dd3-content {
	color: var(--w70a) !important;
}
