// Animations

.tada,
.flipInX,
.flipInY,
.bounceInDown,
.rubberBand,
.revealIn,
.slideIn,
.slideInDown,
.slideInRight,
.showSweetAlert[data-animation='pop'],
.hvr-wobble-bottom:hover {
    animation-name: none;
}

.mfp-zoom-out,
.mfp-3d-unfold {
    .mfp-with-anim {
        transform: none;
        transition: none;
    }
}

.waves-effect .waves-ripple {
    display: none;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
