// Calendar

#calendar {
	margin: 0 !important
}

#homepageOrdercalendar:not(:last-of-type) {
	#calendar {
		margin: 0 0 30px !important;
	}
}

@media screen and (min-width: 768px) {
	#homepageOrdercalendar:not(:last-of-type) {
		#calendar {
			margin: 0 0 50px !important;
		}
	}
}

.fc-toolbar {
	background: transparent !important;
	cursor: default;
	padding: 0 0 2.5px;

	h2 {
		@extend %header;
		color: $text;
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	.fc-toolbar {
		padding: 0 0 20px;
	}

	.fc-toolbar .fc-center {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.fc-day-header {
	background: $black30a !important;

	a {
		@extend %date-link;
	}

	span {
		color: $text-muted;
		cursor: default;
	}
}

.fc-today-button {
	margin: 0 5px !important;
}

@media screen and (min-width: 768px) {
	.fc-today-button {
		margin: 0;
	}
}

.fc-day {
	background: $black15a;
}

.fc-day-top {
	padding: 10px 15px !important;
}

.fc-day-number {
	@extend %date-link;
	width: 100%;
	padding: 0 !important;
	text-align: left !important;
}

.fc-list-heading-main {
	@extend %date-link;
}

.fc-time {
	font-weight: 400 !important;
}

.fc-title {
	color: $white70a;
	font-weight: 600;
	transition: color 0.2s;
}

.fc-event {
	&:focus,
	&:hover {
		.fc-title {
	   		color: $text;
	   	}
	}
}

.fc-content {
	text-overflow: ellipsis;
}

.fc-day-grid {
	.fc-event {
		padding: 5px 15px;
	}

	tr:last-of-type .fc-event {
		padding-bottom: 15px;
	}
}

.fc-today {
	background: $white08a !important;

	&.fc-day-top,
	&.fc-state-highlight,
	&.fc-day-header {
		background: $white08a !important;

		a {
			color: $theme-lighter;
		}
	}

	&.fc-day-header span {
		color: $theme-lighter;
	}
}

.fc-widget-content {
	border-width: 0 !important;
	border-color: $white08a !important;

	&.fc-day:not(:last-of-type) {
		border-right-width: 1px !important;
	}

	&.fc-row:not(:last-of-type) {
		border-bottom-width: 1px !important;
	}
}
