// Common Style Blocks

// Extensions

%button-basic {
	border-radius: 4px;
	font-weight: 700;
	text-transform: uppercase;
	transition: background 0.1s;
}

@media screen and (min-width: 768px) {
	%button-basic {
	    font-size: 15px;
	}
}

%background-blur {
	backdrop-filter: blur(30px);
}

%center {
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

%circular-loader {
	width: 24px;
	height: 24px;
	position: fixed;
	margin: -12px 0 0 -12px;
	border: 2px solid transparent;
	border-top-color: $theme;
	border-left-color: $theme;
	border-radius: 50%;
	animation: loading 0.5s linear infinite;
}

%header {
	color: var(--w70a);
	font-family: var(--font-stack);
	font-weight: 700;
	text-transform: uppercase;
}

%date-link {
	color: $text-muted;
	cursor: pointer !important;
	transition: color 0.2s;

	&:focus,
	&:hover {
		color: $text;
	}
}


// Mixins

@mixin background($background-image, $attachment: '') {
	background-color: $light-gray !important;
	background: var(--noise) repeat $attachment center center/auto,
		$background-image no-repeat $attachment center center/cover !important;
}

@mixin button($background, $background-hover, $background-active, $color: inherit) {
		@extend %button-basic;
		background: $background !important;
		color: $color !important;
		border: 0 !important;

		&.disabled,
		&:disabled {
			background: $background !important;
			color: $color !important;
			border: 0 !important;
			opacity: 0.7;

			&.focus,
			&:focus,
	        &:hover {
				background: $background !important;
				color: $color !important;
				border: 0 !important;
				opacity: 0.7;
			}
		}

		&.focus,
		&:focus,
		&:hover {
			background: $background-hover !important;
			color: $color !important;
			border: 0 !important;
			opacity: 1;
		}

		&.active,
		&:active {
			background: $background-active !important;
			color: $color !important;
			border: 0 !important;
			opacity: 1;

			&.focus,
			&:focus,
			&:hover {
				background: $background-active !important;
				color: $color !important;
				border: 0 !important;
				opacity: 1;
			}
		}
}
