// Containers

// Page Elements

html {
	background-color: $light-gray;
}

body {
	@include background(var(--bg-light), 'fixed');
	transition: background-image 0.2s;
	color: $text;
	font: 600 13px var(--font-stack);
}


// Dark Settings Backgrounds

.active-tab-Settings,
#internal-Settings {
	@include background(var(--bg-dark), 'fixed');
}


// Wrappers

#wrapper {
	height: 100%;
}

#page-wrapper {
	background: 0 0;
}

@media screen and (max-width: 767px) {
	.fix-header #page-wrapper {
		margin-top: 60px;
	}
}

@media screen and (min-width: 768px) {
	.fix-header #page-wrapper {
		margin-top: 60px;
	}
}

.iframe {
	height: calc(100vh - 60px);
}

.dropify-wrapper {
	color: var(--w70a) !important;
}


// Panel

.panel {
	background: 0 0;

	&.bg-org {
		background: 0 0 !important;
	}

	.panel-heading {
		font-size: 14px;
		font-weight: 600;
		color: $text-muted;
		text-transform: uppercase;

		.btn {
			padding: 8px 12px;
			margin-top: -10px;

			&.popup-with-form {
				padding: 2px;
				margin-top: -4px;
			}
		}

		.btn-group {
			margin-right: -0.5rem;
		}
	}
}

.panel-body {
	background: 0 0;

	&.bg-org {
		background: 0 0;
	}

	&:first-child h3 {
		font-family: var(--font-stack);
	}
}

.panel-default {
	.panel-heading {
		border-color: transparent;
		color: var(--w70a);
	}

	.panel-body {
		background: 0 0;
		color: $text;
	}
}

.panel-info {
	.panel-heading {
		background: var(--b15a);
		color: $text-muted;
		border-color: transparent;
	}

	a {
		color: $text !important;

		&:focus,
		&:hover {
			color: $white !important;
		}
	}
}

.panel-blue {
	.panel-heading {
		background: var(--b15a) !important;
	}
}

.panel-white {
	.panel-heading {
		border-color: transparent;
		color: var(--w70a);
	}
}


// Content Containers

.bg-info {
	background: 0 0 !important;
}

.bg-theme {
	background: var(--b30a)!important;
}

.bg-danger {
	background: $red !important;
}

.bg-success {
	background: $green !important;
}

.bg-title {
	background: var(--b15a)!important;

	h4 {
		color: var(--w70a)!important;
	}

	.breadcrumb a {
		color: var(--w70a)!important;
	}
}

.well {
	border: 0;

	&.bg-org {
		background: 0 0 !important;
	}
}

.white-box {
	background: 0 0;

	&.bg-org {
		background: 0 0 !important;
	}

	.box-title {
		color: $white;
		font-size: 14px;
		font-weight: 600;
	}
}


// Content Boxes

.el-card-content {
	&.bg-org {
		background: 0 0!important;
	}

	small {
		color: var(--w45a);
	}

	br:last-of-type {
		display: none;
	}
}

.el-card-item .el-card-avatar,
.item {
	box-shadow: 0 0 2px var(--b35a);
}

.el-card-item:hover .el-card-avatar,
.item:hover {
	box-shadow: 0 0 0 2px $theme;
}

.el-card-avatar a {
	color: var(--w70a) !important;

	&:focus,
	&:hover {
		background: transparent !important;
		color: $white !important;
	}
}

.el-element-overlay {
	.white-box {
		padding: 2px;
	}

	a.btn-outline {
		color: var(--w70a);
		border: 0;

		&:focus,
		&:hover {
			color: $white;
		}
	}

	.el-card-item {
		.el-overlay {
			transition: all 0.2s;
		    background: radial-gradient(farthest-corner at 50% 50%, var(--b50a) 50%, var(--b20) 100%);
		}

		.el-overlay-1 img {
			transition: none;
		}
	}
}

.el-overlay-1:hover {
	img {
		transform: none !important;
	}
}

.lazyload:not(.homepageImageTitle) {
	background-color: var(--b45a);
}
