// Containers

// Page Elements

html {
	background: $light-gray;
}

body {
	@include background($bg-light, 'fixed');
	color: $text;
	font: 600 13px $font-stack;
	width: 100%;
	height: 100%;
	//position: fixed;
	transition: background-image 0.2s;

	&[data-active-tab=""] {
		@include background($bg-dark, 'fixed');
	}
}


// Wrappers

#wrapper {
	height: 100%;
}

#page-wrapper {
	background: transparent;

	&:before {
		content: '';
		@include background($bg-light, 'fixed');
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

@media screen and (max-width: 767px) {
	.fix-header #page-wrapper {
		margin-top: 60px;
	}
}

@media screen and (min-width: 768px) {
	.fix-header #page-wrapper {
		margin-top: 60px;
	}
}

.iframe {
	height: calc(100vh - 60px);
}

.dropify-wrapper {
	color: $white70a !important;
}


// Panel

.panel {
	background: 0 0;

	&.bg-org {
		background: 0 0 !important;
	}

	.panel-heading {
		font-size: 14px;
		font-weight: 600;
		color: $text-muted;
		text-transform: uppercase;

		.btn {
			padding: 8px 12px;
			margin-top: -10px;

			&.popup-with-form {
				padding: 2px;
				margin-top: -4px;
			}
		}

		.btn-group {
			margin-right: -0.5rem;
		}
	}
}

.panel-body {
	background: 0 0;

	&.bg-org {
		background: 0 0;
	}

	&:first-child h3 {
		font-family: $font-stack;
	}
}

.panel-default {
	.panel-heading {
		border-color: transparent;
		color: $white70a;
	}

	.panel-body {
		background: 0 0;
		color: $text;
	}
}

.panel-info {
	.panel-heading {
		background: $black15a;
		color: $text-muted;
		border-color: transparent;
	}

	a {
		color: $text !important;

		&:focus,
		&:hover {
			color: $white !important;
		}
	}
}

.panel-blue {
	.panel-heading {
		background: $black15a !important;
	}
}

.panel-white {
	.panel-heading {
		border-color: transparent;
		color: $white70a;
	}
}


// Content Containers

.bg-info {
	background: 0 0 !important;
}

.bg-theme {
	background: $black30a!important;
}

.bg-danger {
	background: $red !important;
}

.bg-success {
	background: $green !important;
}

.bg-title {
	background: $black15a!important;

	h4 {
		color: $white70a!important;
	}

	.breadcrumb a {
		color: $white70a!important;
	}
}

.well {
	border: 0;

	&.bg-org {
		background: 0 0 !important;
	}
}

.white-box {
	background: 0 0;

	&.bg-org {
		background: 0 0 !important;
	}

	.box-title {
		color: $white;
		font-size: 14px;
		font-weight: 600;
	}
}


// Content Boxes

.el-card-content {
	&.bg-org {
		background: 0 0!important;
	}

	small {
		color: $white45a;
	}

	br:last-of-type {
		display: none;
	}
}

.el-card-item .el-card-avatar,
.item {
	box-shadow: 0 0 2px $black35a;
}

.el-card-item:hover .el-card-avatar,
.item:hover {
	box-shadow: 0 0 0 2px $theme;
}

.el-card-avatar a {
	color: $white70a !important;

	&:focus,
	&:hover {
		background: transparent !important;
		color: $white !important;
	}
}

.el-element-overlay {
	.white-box {
		padding: 2px;
	}

	a.btn-outline {
		color: $white70a;
		border: 0;

		&:focus,
		&:hover {
			color: $white;
		}
	}

	.el-card-item {
		.el-overlay {
			transition: all 0.2s;
		    background: radial-gradient(farthest-corner at 50% 50%, $black50a 50%, $black20 100%);
		}

		.el-overlay-1 img {
			transition: none;
		}
	}
}

.el-overlay-1:hover {
	img {
		transform: none !important;
	}
}

.lazyload:not(.homepageImageTitle) {
	background-color: $black45a;
}
