// Homepage

#homepage-items {
	.dropdown-toggle {
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

	.btn-group {
		margin-top: 4px;

		.btn {
			background: 0 0 !important;
			color: $white70a !important;
			padding: 6px 12px;
			margin: 0 12.5px;
			transition: color 0.2s;

			&.focus,
			&:focus,
			&:hover {
				color: $white !important;
			}
		}
	}

	h2 {
		&.text-center {
			color: $white30a;
			font-size: 14px !important;
			margin: 0;
			cursor: default;
			user-select: none;
		}
	}

	h3 {
		text-transform: none;
	}

	h4 {
		&.pull-left {
			margin: 0;
			padding: 0 0 18px 0;
		}
	}

	.flexbox {
		margin-bottom: 50px;
	}

	.white-box {
		margin: 0;

		&.bg-info {
			padding: 0 0 20px 0 !important;
		}

		&.p-0 {
			padding: 0 !important;
			margin: 0 0 50px !important;
		}
	}

	.panel {
		padding: 0;
		margin-bottom: 46px;
	}

	.panel-heading {
		padding: 0 0 16px 0 !important;
	}

	h4.pull-left,
	.panel-heading {
		@extend %header;
		color: $text !important;
		font-size: 15px;
		cursor: default;
		user-select: none;
	}

	.pull-left.m-t-5 {
		margin: 0 !important;
	}

	.dropdown-toggle {
		padding: 6px 4px !important;
	}
}

.homepageImageTitle {
	margin-top: 0;
}


// Home Page Request Button

#newRequestButton {
	margin: 0 !important;
}


// Poster Image Refresh Button

.refreshImage {
	color: $white70a;
	opacity: 0;
	transition: all 0.2s;

	&:focus,
	&:hover {
		color: $white;
	}

	&.default {
		padding: 0 5px !important;
		position: absolute;
		top: -49px;
		right: 0;
	}
}

.hover-homepage-item:hover .refreshImage {
	top: 0;
	opacity: 1;
}


// Scroll-To-Top Button

#scroll {
	background: $white25a;
	transition: all 0.1s;
	border-radius: 1000px;

	&:focus,
	&:hover {
		background: $white30a;
	}

	span {
		transition: all 0.1s;
		border-bottom-color: $white;
	}
}


// Content Streams

#embyStreams,
#plexStreams {
	hr.hidden-xs {
		display: none;
	}
}

.nowPlayingHover {
	margin-bottom: 40px;
}

.el-info {
	.inline-popups,
	.metadata-get,
	.openTab,
	.refreshImage {
		transform: translateY(100%);
		opacity: 0;
		transition: all 0.2s;
	}
}

.el-overlay-1:hover {
	.inline-popups,
	.metadata-get,
	.openTab,
	.refreshImage {
		transform: none;
		opacity: 1;
	}
}


// Content Thumbnails

.owl-stage {
	width: 9999999px !important;
	padding: 4px;
}

.owl-item {
	padding: 2px;
}

.hover-homepage-item:hover {
	transition: all 0.2s;
}

.badge,
.inside-request-div {
	background: $theme !important;
}

.outside-request-div {
	transition: all 0.2s;
	z-index: 1;
}

.item:hover {
	.outside-request-div {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.recent-title {
	@extend %background-blur;
	background: $black30a!important;
	display: block;
	padding: 5px;
    font-size: 85%;
	opacity: 0;
	pointer-events: none;
	transform: translateY(100%);
	transition: all 0.2s;

	&::first-line {
		font-size: 115%;
		font-weight: 700;
	}

	small {
		font-size: 100% !important;
	}
}

.item {
	overflow: hidden;

	&:hover .recent-title {
		opacity: 1;
		transform: none;
	}
}


// Override Ombi Icon

img {
	&[src$='ombi.png'],
	&[src$='ombi-plex.png'],
	&[src$='ombi-emby.png'] {
		&.homepageImageTitle {
			background: $ombi;
			width: 40px;
			padding-left: 40px;
		}
	}
}


// Download Queues

tbody[class$='-queue'] {
	cursor: default;

	td.hidden-xs {
		font-weight: 400;
		user-select: none;
	}
}

.table {
	margin-bottom: 0;
}

.simplebar-content {
	padding-bottom: 0 !important;
}

#homepage-items {
	.table-bordered,
	.table {
		> tbody,
		> tfoot,
		> thead {
			> tr {
				> th,
				> td {
					border: 0;
				}

				&:not(:first-of-type):not(:last-of-type) > td {
					border-width: 1px 0;
					border-style: solid;
					border-color: $white08a;
				}

				> td {
					&[lang] {
						color: $white30a;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

td span.label.label-info {
	min-width: initial !important;
	width: 100%;
    max-width: 80px;
}

.table-hover tbody tr:hover {
	background: $black15a !important;

	&:only-child {
		background: transparent !important;
	}
}


// Progress Bars

.progress {
	height: 3px;
	margin-bottom: 5px;
	cursor: default;
	user-select: none;
	transition: height 0.2s;
}

.progress-lg {
	margin-left: -2px;
	width: calc(100% + 4px);
}

.progress-bar-info {
    background: $theme;
}

.progress-bar-inverse {
	background: $black15a;
}

tbody {
	&[class$='queue'],
	&[class$='history'] {
		.progress,
		.progress-bar {
			border-radius: 1000px;
			min-width: 72px;
			max-width: 80px;
			height: 16px !important;
		}

		.progress-bar {
			font-size: 75% !important;
			line-height: 16px !important;
		}
	}
}


// Calendar Buttons

.fc-button {
	background: $black15a !important;
	color: $text-muted;
	border-color: transparent;
	border-radius: 0 !important;
	border: 0 !important;
	text-transform: uppercase;

	&:focus,
	&:hover {
		background: $white08a !important;
		color: $text;
		border-color: transparent;
		opacity: 1;
	}
}

.fc-next-button,
.fc-prev-button {
	background: 0 0 !important;
	color: $white70a !important;
	border: 0 !important;

	&.focus,
	&:focus,
	&:hover {
		background: 0 0 !important;
		color: $white !important;
	}
}

.fc-state-default {
	text-shadow: none;
	box-shadow: none;

	&.fc-corner-left {
		border-right-width: 0;
		border-radius: 4px 0 0 4px;
	}

	&.fc-corner-right {
		border-left-width: 0;
		border-radius: 0 4px 4px 0;
	}
}

.fc-state-active,
.fc-state-active:focus,
.fc-state-active:hover {
	background: $white08a !important;
	color: $theme-lighter;
	border-color: transparent;
}

.fc-state-hover {
	opacity: 1;
}

.fc-today-button {
	border-radius: 4px !important;
	font-weight: 700;
	transition: all 0.1s;

	background: $white25a !important;
	color: $white;

	&:focus,
	&:hover {
		background: $white30a !important;
		color: $white;
	}

	&:active {
		background: $white20a !important;
	}
}
