// Login & Register

.login-area {
	@include background(var(--bg-dark), 'fixed');
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	&:not(.hidden) + #page-wrapper {
		display: none;
	}
}

.login-register {
	background: transparent !important;

	.login-box {
		background: transparent;
		width: 480px;
		height: initial;
		right: initial;
		position: fixed;
		@extend %center;

		h1 {
			color: $white;
			font-weight: 700;
			margin: 0 0 35px;
		}

		.white-box {
			background: var(--b30a);
			width: 480px;
			margin: auto;
			padding: 0;
		}

		h1 {
			position: relative;
			bottom: 92px;
		}

		form {
			width: 100%;
			max-width: 360px;
			margin: auto;
			padding: 30px 35px;
		}

		.form-group {
			margin: 15px auto;

			.col-xs-12,
			.col-md-12 {
				padding: 0;
			}

			&.m-b-0 {
				margin: 0 auto !important;
			}

			&.m-b-0 {
				color: #A8A8AB;

				p {
					margin: 15px 0 0 0;
				}
			}
		}
	}
}

#login-logo {
	display: block !important;
	height: 0;
	margin: -135px 0 0;

	+ .form-group {
		margin: 135px 0 0 !important;
	}
}

.loginLogo {
	border: 0;
	max-height: 100px;
	max-width: 290px;
	margin: 0;
}

#loginform .form-group.m-t-20 {
	margin: -10px 0 0 !important;
}

#registerForm .form-group {
	margin: 15px auto !important;

	&:first-of-type {
		margin: 0 0 15px !important;
	}

	&:last-of-type {
		margin: 15px 0 0 !important;
	}
}

#recoverform {
	.form-group {
		&:first-of-type {
			margin: 0 0 15px !important;
		}

		&:last-of-type {
			margin: 15px 0 0 !important;
		}
	}

	h3 {
		margin: 0;
	}
}

#to-recover span {
	color: var(--w45a);
	transition: color 0.2s;

	&:hover {
		color: $white;
	}
}

.invite-div {
	h4 {
		text-transform: none;
		font-weight: 600;
		margin: 0;
	}

	.input-group {
		&:not(:first-of-type)
		 :not(:last-of-type) {
		     margin: 15px auto;
		 }
	}
}

.blockMsg {
	background: transparent !important;
	border: 0 !important;
	width: 90% !important;

	h5 {
		color: transparent;

		&:after {
			@extend %circular-loader;
			content: '';
			display: block;
			top: 50%;
			left: 50%;
		}
	}

	img {
		display: none;
	}
}

@media screen and (min-width: 360px) {
	.login-register {
		.login-box {
			form {
				padding: 30px 15px;
			}
		}
	}
}
