// Login & Register

.login-area:not(.hidden) + #page-wrapper {
	display: none;
}

.login-register {
	@include background($bg-dark);
}

.login-register .login-box {
	background: 0 0;
	height: initial;
	right: initial;
	position: fixed;
	@extend %center;

	h1 {
		color: $white;
		font-weight: 700;
		margin: 0 0 35px;
	}

	.white-box {
		padding: 0;
	}

	form {
		width: 100%;
		max-width: 360px;
		margin: auto;
		padding: 30px;
	}

	.form-group {
		margin: 15px auto;

		.col-xs-12,
		.col-md-12 {
			padding: 0;
		}

		&.m-t-40,
		&.m-b-0 {
			margin: 0 auto !important;
		}

		&.m-b-0 {
			color: #A8A8AB;

			p {
				margin: 15px 0 0 0;
			}
		}
	}
}

.loginLogo {
	max-height: 100px;
	max-width: -webkit-fill-available;
	margin-bottom: 35px;
	border: 0;
}

#loginform .form-group.m-t-20 {
	margin: -10px 0 0 !important;
}

#registerForm .form-group {
	margin: 15px auto !important;

	&:first-of-type {
		margin: 0 0 15px !important;
	}

	&:last-of-type {
		margin: 15px 0 0 !important;
	}
}

#recoverform {
	.form-group {
		&:first-of-type {
			margin: 0 0 15px !important;
		}

		&:last-of-type {
			margin: 15px 0 0 !important;
		}
	}

	h3 {
		margin: 0;
	}
}

#to-recover span {
	color: $white45a;
	transition: color 0.2s;

	&:hover {
		color: $white;
	}
}

.invite-div {
	h4 {
		text-transform: none;
		font-weight: 600;
		margin: 0;
	}

	.input-group {
		&:not(:first-of-type)
		 :not(:last-of-type) {
		     margin: 15px auto;
		 }
	}
}

.blockMsg {
	background: transparent !important;
	border: 0 !important;
	width: 90% !important;

	h5 {
		color: transparent;

		&:after {
			@extend %circular-loader;
			content: '';
			display: block;
			top: 50%;
			left: 50%;
		}
	}

	img {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.login-register {
		width: 480px;
		height: 300px;
	}

	.login-register .login-box {
		width: 480px;

		h1 {
			position: relative;
			bottom: 92px;
		}

		.white-box {
			background: $black30a;
			width: 480px;
			padding: 0;
			margin: auto;
		}

		form {
			padding: 30px 20px;
		}

		.form-group {
			width: 320px;
		}
	}

	#login-logo {
		display: block !important;
		height: 0;
		margin: 0;
	}

	.loginLogo {
		margin-bottom: 0;
		position: relative;
		top: -55px;
		transform: translateY(-100%);
	}
}
