// Navbar

.navbar {
    background: $black60a;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .navbar {
        padding-left: 60px;
    }
}

.navbar-header {
    background: transparent;
}

.top-left-part a {
    line-height: inherit;
    font-size: 26px;
    text-transform: none;
}

.navbar-top-links {
    > li > a {
        background: transparent !important;
        color: $text-muted;
        transition: 0.2s ease all;

        &:hover {
            color: $text !important;
        }
    }

    &.navbar-left {
        li:first-of-type i {
            width: 14px !important;
        }
    }

    .dropdown-user {
        top: 60px;

        .dw-user-box {
            cursor: default;

            .u-img img {
                border-radius: 1000px;
            }
        }
    }
}

.profile-pic {
    .img-circle {
        margin-top: -4px;
        width: 30px;
        height: 30px;
    }

    b {
        font-weight: 600;
    }

    &:hover,
    [aria-expanded='true'] {
        b,
        .caret {
            color: $text;
        }

        .caret {
            transition: color 0.2s, transform 0.4s;
        }
    }

    &[aria-expanded='true'] {
        .img-circle {
            background: $theme-lighter;
            box-shadow: 0 0 0 1px $white;
        }

        .caret {
            transform: translateY(-50%) rotateX(180deg);
        }
    }
}

.ti-fullscreen {
    line-height: inherit;
}
