// Preloader

#preloader {
    @include background($bg-dark, 'fixed');
}

.circular {
    position: fixed;
    top: 30%;
    left: 50%;

    @extend %circular-loader;

    circle {
        display: none;
    }
}

body[style=''] {
    #preloader {
        z-index: 2;
    }
}
