// Preloader

#preloader {
	@include background($bg-dark, 'fixed');
}

.circular {
	@extend %circular-loader;
	position: fixed;
	top: 30%;
	left: 50%;

	circle {
		display: none;
	}
}

body[style=''] {
	#preloader {
		z-index: 2;
	}
}
