// Slim Scroll Bar

.slimScrollRail {
    width: 3px !important;
    border-radius: 0 !important;
}

.slimScrollBar {
    background: $white !important;
    background: $white25a;
    width: 3px !important;
    border-radius: 0 !important;
    pointer-events: none;
}
