// Sidebar

.sidebar {
	@extend %background-blur;
	background: $black15a !important;
	box-shadow: none;
	transition: all 0.2s;

	.label {
		padding: 5px 8px;
		cursor: pointer;
	}

	.slimScrollBar,
	.slimScrollRail {
		left: 0 !important;
	}
}

.sidebar-head {
	@extend %background-blur;
	background: $black30a !important;
	padding: 2.5px 20px !important;

	h3 {
		color: $white70a;
		font-weight: 400;
		text-transform: none;
		transition: .2s all;

		.m-r-5 {
			margin-right: 10px !important;
		}

		i {
			font-size: 14px;
			position: relative;
			top: 3px;
		}

		span {
			cursor: default;
			user-select: none;
		}
	}
}

@media screen and (min-width: 768px) {
	.sidebar {
		transition: background 0.2s, width 0.1s;
	}
	
	.sidebar-head {
		padding: 5px 20px !important;

		h3 {
			.m-r-5 {
				margin-right: 5px !important;
			}

			i {
				font-size: 20px;
			}
		}
	}
}

@supports not (backdrop-filter: blur(30px)) {
	.sidebar {
		@include background($bg-light, 'fixed');
	}

	.sidebar-nav {
		background: $black15a;
	}

	body[data-active-tab=""],
	.active-tab-Settings,
	#internal-Settings {
		.sidebar {
			@include background($bg-dark, 'fixed');
		}
	}

	.sidebar-head {
		background: $black65a !important;
	}
}

.ping .heartbit {
	z-index: 9;
}

#side-menu {
	li a {
		color: $white70a;
		font-weight: 600 !important;
	    padding: 15px 35px 15px 15px;
		transition: .2s color ease;

		&:focus,
		&:hover {
			color: $white;
			background: $white08a !important;
		}

		&.active,
		&:active {
			background: $white08a;
			color: $theme-lighter;
			box-shadow: none;
		}
	}
}

.tabLoaded {
	filter: none;
}


// Override Ombi Icon

.sidebar img {
	&[src$='ombi.png'],
	&[src$='ombi-plex.png'],
	&[src$='ombi-emby.png'] {
		background: $ombi;
		height: 30px;
		padding-left: 30px;
	}
}


// Unsure where this belongs

.nav .open > a {
	background: transparent !important;

	&:focus,
	&:hover {
		background: transparent !important;
	}
}
